body {
    background-image: url("https://wp-s.ru/wallpapers/12/15/470557987289746/belye-ch-rtochki-na-sinem-fone.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#button a{
    text-decoration: none;
}

a div {
    display: flex;
    width: 200px;
    height: 75px;
    background-color: deepskyblue;
    border-radius: 20px;
}

a div h4 {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}


.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b-popup-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 550px;
    height: 450px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: lightyellow;
}

#Name, #Email, h4,  #Textarea {
    width: 100%;
    text-align: center;
}

#CheckBox label{
    margin-left: 20px;
}

#Textarea label{
    width: 100%;
}

textarea {
    width: 90%;
    border-radius: 8px;
}

#Name input, #Email input{
    border-radius: 5px;
}

#bottomOfForm{
    width: 100%;
}

.warning {
    border-color: red;
}







